body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#messages-container {
    background-color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#messages-container {
    height: 500px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#messages li {
    margin-bottom: 10px;
}
#message-input {
    border-radius: 20px;
}
.btn-primary {
    border-radius: 20px;
}

.message-bubble {
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}
.bg-primary {
    background-color: #007bff !important;
}
.bg-info {
    background-color: #17a2b8 !important;
}
.card-body {
    background-color: #f8f9fa;
}